name: Build
 
on:
  push:
    branches: 
      - 'main'
      - 'release/*'
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches: 
      - 'main'
      - 'release/*'
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch: 

jobs: 
  event_file: # Used for test reporting
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v5
      with:
        name: Event File
        path: ${{ github.event_path }}

  validate_gen:
    name: "Validate generated files"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install .NET
      uses: actions/setup-dotnet@v5
    - name: Remove generated files for baseline
      run: Remove-Item generated/ -Include *.g.cs -Recurse
      shell: pwsh
    - name: Restore
      run: dotnet restore --verbosity normal          
    - name: Build
      run: dotnet build --no-restore --verbosity normal    
    - name: Validate generated files
      run: |
        if [ "$(git diff --ignore-space-at-eol generated/ | wc -l)" -gt "0" ]; then
          echo "Detected uncommitted changes after build.  See status below:"
          git diff
          exit 1
        fi

  build_and_test:
    name: Build and Test
    strategy:
      fail-fast: false
      matrix:
        configuration: [ debug, release ]
        projectloadstyle: [ net35, net40, All ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]
        exclude: 
          - projectloadstyle: net35
            os: ubuntu-latest
          - projectloadstyle: net40
            os: ubuntu-latest
          - projectloadstyle: net35
            os: macos-latest
          - projectloadstyle: net40
            os: macos-latest

    env:
      RunPeVerify: true 
      Solution_Name: Open-XML-SDK.slnx
      Configuration: ${{ matrix.configuration }}
      ProjectLoadStyle: ${{ matrix.projectloadstyle }}
          
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          6.0.x
          8.0.x
    - name: Install global.json .NET
      uses: actions/setup-dotnet@v5
    - name: Restore
      run: dotnet restore --verbosity normal          
    - name: Build
      run: dotnet build --no-restore --verbosity normal
    - name: Test
      run: dotnet test --no-restore -- --results-directory ${{ github.workspace }}/test-results/ --report-xunit-trx
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: Test Results (${{ matrix.os }} ${{ matrix.configuration }} ${{ matrix.projectloadstyle }})
        path: ${{ github.workspace }}/test-results/*
