name: Release

on:
    workflow_run:
      workflows: ["Package"]
      types:
        - completed
permissions: {}

jobs: 
    deploy:
      name: "Deploy Packages to Nuget"
      environment: nuget
      if: ${{ github.event.workflow_run.conclusion == 'success' && github.event_name == 'release' }}
      runs-on: windows-latest
      steps:
        - name: Download and Extract Artifacts from build
          uses: dawidd6/action-download-artifact@v2
          with:
            run_id: ${{ github.event.workflow_run.id }}
            name: Signed
            path: artifacts

        - name: Setup .NET Core
          uses: actions/setup-dotnet@v3

        - name: Publish NuGet package
          run: |
            foreach($file in (Get-ChildItem "${{ github.workspace }}/signed" -Recurse -Include *.nupkg)) {
                dotnet nuget push $file --api-key "${{ secrets.NUGET_APIKEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
            }
