name: Release

on:
    workflow_run:
      workflows: ["Package"]
      types:
        - completed
permissions: {}

jobs: 
    deploy:
      name: "Deploy Packages to Nuget"
      environment: nuget
      if: ${{ github.event.workflow_run.conclusion == 'success' && github.event_name == 'release' }}
      runs-on: windows-latest
      steps:
        - name: Download and Extract Artifacts from build
          uses: dawidd6/action-download-artifact@v2
          with:
            run_id: ${{ github.event.workflow_run.id }}
            name: Signed
            path: artifacts

        - name: Setup .NET Core
          uses: actions/setup-dotnet@v3

        - name: Approve
          uses: trstringer/manual-approval@v1
          with:
              secret: ${{ github.TOKEN }}
              approvers: mikeebowen,tomjebo,twsouthwick,alfredhellstern
              minimum-approvals: 1
              issue-title: "Approval for publishing to Nuget.org"
              issue-body: "Please approve or deny the deployment to Nuget.org"
              exclude-workflow-initiator-as-approver: false
              additional-approved-words: ''
              additional-denied-words: ''

        - name: Publish NuGet package
          run: |
            foreach($file in (Get-ChildItem "${{ github.workspace }}/artifacts" -Recurse -Include *.nupkg)) {
                dotnet nuget push $file --api-key "${{ secrets.NUGET_APIKEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
            }
