name: Sign
 
on:
  workflow_run:
    workflows: [Build] 
    types: [completed]

jobs: 
  sign:
    name: "Sign Package"
    if: ${{ github.event.workflow_run.conclusion == 'success' }} && github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps: 
         - name: Install .NET Core
           uses: actions/setup-dotnet@v3
           with:
              dotnet-version: 6.0.x

         - name: Install SignTool tool
           run: dotnet tool install --tool-path . sign --version 0.9.0-beta.23127.3

         - name: Install Nuget Sign Tool
           run: dotnet tool install --global NuGetKeyVaultSignTool

         - name: Download Unsigned Packages
           uses: actions/download-artifact@v3
           with: 
                name: Unsigned-${{ github.sha }}
                path: '$(github.workspace)/unsigned' 

         - name: Expand Packages For Signing
           shell: pwsh 
           run: |
              mkdir raw
              cd raw
              gci ..\*.nupkg | % { Expand-Archive $_ }
              cd ..
              gci -r

         - name: Sign the DLLs
           shell: pwsh
           run: |
               ./sign code azure-key-vault `
               '**./DocumentFormat.OpenXml*.dll' ` 
               --publisher-name "Microsoft" ` 
               --description "DocumentFormat.OpenXml DLL Signing" `
               --description-url "https://github.com/dotnet/sign" `
               --azure-key-vault-tenant-id "$(secrets.SignTenantId)" `
               --azure-key-vault-client-id "$(secrets.SignClientId)" `
               --azure-key-vault-client-secret '$(secrets.SignClientSecret)' `
               --azure-key-vault-certificate "$(secrets.SignKeyVaultCertificate)" `
               --azure-key-vault-url "$(secrets.SignKeyVaultUrl)"
               workingDirectory: '$(github.workspace)/unsigned/raw' ` 

         - name: Create Signed NUPKG
           shell: pwsh 
           run: | 
               gci -r CodeSignSummary | rm
               gci -Directory | % { [IO.Compression.ZipFile]::CreateFromDirectory($_, "$_.nupkg") }
               workingDirectory: '$(github.workspace)/unsigned/raw'

         - name: Sign the NUPKGs
           shell: pwsh
           run: |
              ./NuGetKeyVaultSignTool sign code azure-key-vault `
              '*.nupkg' `
              --base-directory  '$(github.workspace)/unsigned/raw' `
              --publisher-name "Microsoft" `
              --description "DocumentFormat.OpenXml DLL Signing" `
              --description-url "https://github.com/dotnet/sign" `
              --azure-key-vault-tenant-id "$(secrets.SignTenantId)" `
              --azure-key-vault-client-id "$(secrets.SignClientId)" `
              --azure-key-vault-client-secret '$(secrets.SignClientSecret)' `
              --azure-key-vault-certificate "$(secrets.SignKeyVaultCertificate)" `
              --azure-key-vault-url "$(secrets.SignKeyVaultUrl)"
              workingDirectory: '$(github.workspace)/unsigned/raw' ` 

         - uses: actions/upload-artifact@v3
           with:
             name: Signed
             path: |
               '$(github.workspace)/unsigned/*.snupkg'
               '$(github.workspace)/unsigned/raw/*.nupkg'
